<% if(success && success.length) { %>
<div class="flash__alert" role="alert"><%=success%></div>
<% } %> <% if(error && error.length) { %>
<div class="flash__alert_err" role="alert"><%=error%></div>
<% } %>
