<header class="header">
    <div class="leftSection">
      <div class="leftSection__label">
        <img
          class="leftSection__label__labelImg"
          src="/assets/text.svg"
          alt="logo"
        />
      </div>