.main {
    &__showcase {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 5rem;

        @include allsmall {
            padding-top: 2rem;
        }

        .main__showcase__item {
            background-color: rgba(0, 139, 139, 0);
            flex: 0 0 15%;
            margin-bottom: 3rem;

            @include allsmall {
                flex: 0 0 15%;
                margin: 0.3rem;
            }

            &__content {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 200px;
                height: 320px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 1px 1px 7px 3px rgb(120, 115, 96);
                cursor: pointer;

                @include allsmall {
                    width: 100px;
                    height: 220px;
                }

                &__titlelink {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    transition-duration: .5s;
                    transition-property: box-shadow, transform;

                    &:hover,
                    &:focus,
                    &:active {
                        box-shadow: 0 15px 15px -10px $color-red;
                        transform: scale(1.1);
                    }


                    &__listname {
                        position: absolute;
                        z-index: 5;
                        display: flex;
                        align-items: center;
                        height: 20%;
                        width: 100%;
                        background-color: $color-bamboo;
                        border: 1px solid rgb(120, 115, 96);
                        box-shadow: inset -3px -3px 10px rgb(120, 115, 96);

                        span {
                            line-height: 1.5rem;
                            padding: 10px;
                            font-size: 1.4rem;
                            font-family: $monofett;
                            color: black;

                            @include allsmall {
                                line-height: 1rem;
                                padding: 5px;
                                font-size: 1rem;
                            }
                        }
                    }

                    &__count {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 5;
                        width: 100%;
                        color: $color-bamboo;
                        border-radius: 100% 0% 100% 0% / 60% 100% 0% 40%;
                        background-color: black;
                        text-align: right;

                        span {
                            font-size: 1.3rem;
                            margin-right: 1rem;
                            font-family: $monofett;

                            @include allsmall {
                                font-size: 0.8rem;
                                margin-right: 1rem;
                            }
                        }
                    }

                    &__image {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 3;
                        cursor: pointer;

                    }
                }
            }
        }

        .main__showcase__item:nth-child(4) {
            flex: 0 0 50%;

            @include allsmall {
                flex: 0 0 15%;
            }
        }

    }
}