<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<body class="body">
  <main class="main main__flex main__error">
    <div>
      <h1><%=err.message%></h1>
      <% if (process.env.NODE_ENV !== "production") { %>
      <p><%= err.stack %></p>
      <% } %>
    </div>
    <a href="/">Back</a>
  </main>
  <%- include('./partials/footer'); %>
</body>

</html>