//colors
$color-green: rgb(20, 148, 20);
$color-red: rgb(210, 31, 60);
$color-bamboo: rgb(239, 235, 214);
$color-blue: rgb(9, 102, 146);

//font variables
$code-font: 'Press Start 2P',
cursive;
$shojumaru: 'Shojumaru',
cursive;
$roboto: 'Roboto',
sans-serif;
$roboto-slab: 'Roboto Slab',
serif;
$rocknroll: 'RocknRoll One',
sans-serif;
$monofett: 'Gudea',
sans-serif;

//media
$small:768px;
$medium:1440px;
$large:1920px;